In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('../data/jokes.csv')
df.dropna(inplace=True)
print(df.shape)
df.sample(10)

(38266, 3)

,ID,Question,Answer
7958,7959,Have you heard about the new super-sensitive c...,They hang around after the man leaves and talk...
25006,25007,If Arnold Schwarzenegger was a composer which ...,He'd be Bach
29033,29034,what did the fish say to the jelous fish?,ur jellyfish
12761,12762,Did you hear about the explosion in the cheese...,There was de-brie everywhere.
9337,9338,Which band does rockclimbers listen to ?,Rolling Stones
5124,5125,Why did the football coach return to the bank?,To get his quarterback.
24087,24088,Why do terrorists recruit married men as suici...,They're easier to convince.
24991,24992,Ever want to have rodeo sex?,Get on top and call her by the wrong name and ...
26044,26045,What's the definition of a period?,A bloody waste of fucking time.
7353,7354,How do you measure how sad someone is?,With a blues scale

In [29]:
# Отберу айди, для примером
id_list = [
    13616,
    11044,
    17767,
    27711,
    19241,
    17714,
    32524
    ]

In [30]:
for values in df[df['ID'].isin(id_list)].values:
    print(values[1], '|', values[2])

If Hillary Clinton and Donald Drumpf are in a boat and it capsizes. Who survives? | America.
Why do Yoda's jokes always suck? | Says the punch line first, he does.
How do you call an unfanny comedian? | A youtuber.
What do you call a little Mexican? | A paragraph. Because he's not quite an essay.
What does rappers eat for breakfast? | Yo-ghurt.
How many developers does it take to change a light bulb? | None. That's a hardware problem.
What does Tarzan sing at Christmas? | Jungle Bells

In [31]:
# Теперь отделим трейн и тест
valid = df[df['ID'].isin(id_list)].copy()
df = df[~df['ID'].isin(id_list)].copy()
test = df.sample(int(df.shape[0]*0.15))
train = df[~df['ID'].isin(test['ID'])]
print(f'Train size: {train.shape[0]}, Test size: {test.shape[0]}')

Train size: 32521, Test size: 5738

In [32]:
valid.to_csv('../data/valid.csv', index=False)
test.to_csv('../data/test.csv', index=False)
train.to_csv('../data/train.csv', index=False)